/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: white;
}

h4.page-title {
    margin-left: 10px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#inbox-table {
    .mobile-number {
        width: 15%;
    }
    .message {
        width: 35%;
    }
    .timestamp {
        width: 20%;
    }
    .actions {
        width: 30%;
    }
}

#outbox-table {
    .mobile-number {
        width: 10%;
    }
    .user {
        width: 15%
    }
    .message {
        width: 30%;
    }
    .timestamp {
        width: 20%;
    }
    .actions {
        width: 20%;
    }
}

.message-actions .btn {
    width: 100px;
}