<h4 class="page-title">Message successfully sent!</h4>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><%= @outbox.mobile_number %></h3>
    </div>
    <div class="panel-body">
        <%= @outbox.message %>
    </div>
</div>

<%= link_to @return_link[:text], @return_link[:link] %>