<h4 class="page-title">View Outbox Message</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= @outbox.mobile_number %></h3>
    </div>
    <div class="panel-body">
        <%= @outbox.message %>
    </div>
</div>
<%= link_to "Return to Outbox", outboxes_path, class: 'btn btn-default' %>
<%= link_to "Resend", resend_outbox_path(@outbox), class: 'btn btn-default' %>